<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Center</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/babel">
        class PostMessageForm extends React.Component {
            constructor(props) {
              super(props);
              this.state = {
                UserName: '',
                MessageBody: '',
                Extra: ''
              };
              this.handleChange = this.handleChange.bind(this);
              this.handleSubmit = this.handleSubmit.bind(this);
            }

            // Front end validate
            validateParams(){
                if(this.state.UserName === ''){
                    alert('User Name must not be empty.');
                    return false;
                } else if (this.state.MessageBody === ''){
                    alert('Message must not be empty.')
                    return false;
                }
                return true;
            }

            // Parameters for the post request
            reqParams(){
                let params = {
                  UserName: this.state.UserName,
                  MessageBody: this.state.MessageBody
                }
                if(this.state.Extra !== ''){
                  params['Extra'] = this.state.Extra;
                }
                return params;
            }

            // handler when any field of the form changes
            handleChange(event) {
              let ftype = event.target.dataset.ftype;
              let value = event.target.value;

              switch(ftype){
                case 'UserName':
                  this.setState({UserName: value});
                  break;
                case 'MessageBody':
                  this.setState({MessageBody: value});
                  break;
                default:
                  this.setState({Extra: value});
              }
            }

            // Submit the form for post
            handleSubmit(event) {
              event.preventDefault();
              if(this.validateParams()){
                  $.ajax({
                      type: 'POST',
                      url: 'http://msg-proj-prod.awsplay.net/postMessage?' + $.param(this.reqParams()),
                      success: (data) => {
                          alert("Message Posted!");
                          this.setState({MessageBody: ''});
                          this.setState({Extra: ''});
                      },
                      error: (err) => {
                          alert(JSON.stringify(err));
                      }
                  });
              }
            }

            render() {
              return (
                <div>
                  <h2> Post A Message </h2>
                  <form className="form-horizontal" onSubmit={this.handleSubmit}>
                    <br />
                    <div className="form-group">
                      <label className="col-sm-2 control-label">Your Name:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" data-ftype="UserName" value={this.state.UserName} onChange={this.handleChange} />
                      </div>
                    </div>

                    <div className="form-group">
                      <label className="col-sm-2 control-label">Message:</label>
                      <div className="col-sm-8">
                        <textarea type="text" className="form-control" data-ftype="MessageBody" value={this.state.MessageBody} onChange={this.handleChange} />
                      </div>
                    </div>

                    <div className="form-group">
                      <label className="col-sm-2 control-label">Additional Info:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" data-ftype="Extra" value={this.state.Extra} onChange={this.handleChange} />
                      </div>
                    </div>
                    <div className="form-group">
                      <div className="col-sm-2"></div>
                      <div className="col-sm-8">
                        <button type="submit" className="btn btn-primary">Post Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              );
            }
        };

        class GetMessages extends React.Component {
            constructor(props) {
              super(props);

              this.state = {
                Messages: [],
                UserName: '',
                Pages: [''],
                curPage: 0
              };

              // Initially get all messages with no filter
              this.getRequestCall();

              this.handleChange = this.handleChange.bind(this);
              this.handleSubmit = this.handleSubmit.bind(this);
              this.handleDelete = this.handleDelete.bind(this);
              this.handleInfo = this.handleInfo.bind(this);
              this.handlePreviousPage = this.handlePreviousPage.bind(this);
              this.handleNextPage = this.handleNextPage.bind(this);
              this.handleResultRefresh = this.handleResultRefresh.bind(this);
            }

            // Ajax call for get Message
            getRequestCall(){
              $.ajax({
                  type: 'GET',
                  url: 'http://msg-proj-prod.awsplay.net/getMessages?' + $.param(this.getReqParams()),
                  success: (data) => {
                      this.setState({Messages: data.results});
                      let lkey = data.meta.LastEvaluatedKey;
                      if(lkey){
                        // If there are more data in the DB, push the start key of the next page to states
                        // If go to pre page, don't need to store start key again
                        let newPages = this.state.Pages;
                        if(this.state.curPage >= this.state.Pages.length - 1){
                          newPages.push({"UserName": lkey.UserName.S, "TimeStamp": lkey.TimeStamp.S});
                        }
                        this.setState({Pages: newPages});
                      }
                  },
                  error: (err) => {
                      // If the page becomes negative or over the upper limit
                      alert("No More Messages.");
                      if(this.state.curPage < 0){
                        this.state.curPage = 0;
                      }else if(this.state.curPage > this.state.Pages.length - 1){
                        this.state.curPage = this.state.Pages.length - 1;
                      }
                  }
              });
            }

            // Ajax call for delete
            deleteRequestCall(index){
              $.ajax({
                  type: 'Delete',
                  url: 'http://msg-proj-prod.awsplay.net/deleteMessage?' + $.param(this.deleteReqParams(index)),
                  success: (data) => {
                      this.state.Pages = [""];
                      this.state.curPage = 0;
                      this.getRequestCall();
                  },
                  error: (err) => {
                      alert(err);
                  }
              });
            }

            // Parameters for get message request
            getReqParams(){
                let params = {
                  Limit: 10
                };
                if(this.state.UserName !== ''){
                  params['UserName'] = this.state.UserName;
                }
                if(this.state.curPage !== 0){
                  params['StartKey'] = JSON.stringify(this.state.Pages[this.state.curPage]);
                }
                return params;
            }

            // Parameters for delete message request
            deleteReqParams(index){
                let message = this.state.Messages[index];
                return {
                  UserName: message.UserName,
                  TimeStamp: message.TimeStamp
                };
            }

            // Handler when Search Username changes
            handleChange(event) {
              this.setState({UserName: event.target.value});
            }

            // Handler for Search submit
            handleSubmit(event) {
              event.preventDefault();
              this.setState({Pages: [''], curPage: 0});
              this.getRequestCall();
            }

            // Handler for delete a message
            handleDelete(event){
              event.preventDefault();
              event.stopPropagation();
              this.deleteRequestCall(event.target.dataset.index);
            }

            // Handler for more information
            handleInfo(event){
              let message = this.state.Messages[event.target.dataset.index];
              let info =
              `Author: ${message.UserName} \n
Message: ${message.MessageBody} \n
Post Time: ${(new Date(parseInt(message.TimeStamp))).toString()} \n
isPalindrome: ${message.isPalindrome}\n
Extra Info: ${message.Extra} \n
              `;
              alert(info);
            }

            // Handler for go to previous page
            handlePreviousPage(event){
              this.state.curPage--;
              this.getRequestCall();
            }

            // Handler for go to next page
            handleNextPage(event){
              this.state.curPage++;
              this.getRequestCall();
            }

            handleResultRefresh(event){
              this.getRequestCall();
            }

            render() {
              return (
                <div>
                  <div>
                    <h2 style={{display: "inline-block"}}> Messages &nbsp;</h2>
                  </div>
                  <form className="form-horizontal" onSubmit={this.handleSubmit}>
                    <br />
                    <div className="form-group">
                      <label className="col-sm-2 control-label">Enter a name:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" value={this.state.UserName} onChange={this.handleChange} />
                      </div>
                    </div>
                    <div className="form-group">
                      <div className="col-sm-2 control-label"></div>
                      <div className="col-sm-8">
                        <button type="submit" className="btn btn-primary">Get Messages</button>
                        <button type="button" className="btn btn-success" onClick={this.handleResultRefresh} aria-label="Left Align"> Refresh Results </button>
                      </div>
                    </div>
                  </form>

                  <table className="table table-hover">
                    <thead>
                      <tr>
                        <th className="col-xs-9 col-sm-10">Message</th>
                        <th className="col-xs-3 col-sm-2">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {this.state.Messages.map((row,i) =>
                        <tr key={row.UserName + row.TimeStamp} >
                          <td>
                            <span title='Palindrome Message' data-index={i} className="glyphicon glyphicon-ok-circle" style={{visibility: (row.isPalindrome ? 'blocked' : 'hidden')}} aria-hidden="true">&nbsp;</span>
                            {row.MessageBody}
                          </td>
                          <td>
                            <button type="button" data-index={i} onClick={this.handleInfo} className="btn btn-success" aria-label="Left Align">
                              <span data-index={i} className="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                            &nbsp;
                            <button type="button" data-index={i} onClick={this.handleDelete} className="btn btn-danger" aria-label="Left Align">
                              <span data-index={i} className="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                      )}
                    </tbody>
                  </table>
                  <div>
                    <a className='btn pull-left' onClick={this.handlePreviousPage}>Previous</a>
                    <a className='btn pull-right' onClick={this.handleNextPage}>Next</a>
                  </div>
                </div>
              );
            }
        };

        ReactDOM.render(<PostMessageForm />, document.querySelector('#SetUserName'));
        ReactDOM.render(<GetMessages />, document.querySelector('#MessageList'));
    </script>

    <div id="SetUserName"></div>
    <br><br>
    <div id="MessageList"></div>
</body>
</html>
