<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React JS</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/babel">
        class PostMessageForm extends React.Component {
            constructor(props) {
              super(props);
              this.state = {
                UserName: '',
                MessageBody: '',
                Extra: ''
              };
              this.handleChange = this.handleChange.bind(this);
              this.handleSubmit = this.handleSubmit.bind(this);
            }

            validateParams(){
                if(this.state.UserName === ''){
                    alert('User Name must not be empty.');
                    return false;
                } else if (this.state.MessageBody === ''){
                    alert('Message must not be empty.')
                    return false;
                }
                return true;
            }

            reqParams(){
                let params = {
                  UserName: this.state.UserName,
                  MessageBody: this.state.MessageBody
                }
                if(this.state.Extra !== ''){
                  params['Extra'] = this.state.Extra;
                }
                return params;
            }

            handleChange(event) {
              let ftype = event.target.dataset.ftype;
              let value = event.target.value;

              switch(ftype){
                case 'UserName':
                  this.setState({UserName: value});
                  break;
                case 'MessageBody':
                  this.setState({MessageBody: value});
                  break;
                default:
                  this.setState({Extra: value});
              }
            }

            deleteAMessage(){

            }

            handleSubmit(event) {
              event.preventDefault();
              if(this.validateParams()){
                  $.ajax({
                      type: 'POST',
                      url: 'http://msg-proj-prod.awsplay.net/postMessage?' + $.param(this.reqParams()),
                      success: (data) => {
                          alert("Message Posted!");
                          this.setState({MessageBody: ''});
                          this.setState({Extra: ''});
                      },
                      error: (err) => {
                          alert(err);
                      }
                  });
              }
            }

            render() {
              return (
                <div>
                  <h2> Post A Message </h2>
                  <form className="form-horizontal" onSubmit={this.handleSubmit}>
                    <br />
                    <div className="form-group">
                      <label className="col-sm-2 control-label">User Name:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" data-ftype="UserName" value={this.state.UserName} onChange={this.handleChange} />
                      </div>
                    </div>

                    <div className="form-group">
                      <label className="col-sm-2 control-label">Message:</label>
                      <div className="col-sm-8">
                        <textarea type="text" className="form-control" data-ftype="MessageBody" value={this.state.MessageBody} onChange={this.handleChange} />
                      </div>
                    </div>

                    <div className="form-group">
                      <label className="col-sm-2 control-label">Additional Info:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" data-ftype="Extra" value={this.state.Extra} onChange={this.handleChange} />
                      </div>
                      <button type="submit" className="btn btn-primary">Post Message</button>
                    </div>
                  </form>
                </div>
              );
            }
        };

        class GetMessages extends React.Component {
            constructor(props) {
              super(props);

              this.state = {
                Messages: [],
                UserName: ''
              };
              this.getRequestCall();
              this.handleChange = this.handleChange.bind(this);
              this.handleSubmit = this.handleSubmit.bind(this);
              this.handleDelete = this.handleDelete.bind(this);
            }

            getRequestCall(){
              $.ajax({
                  type: 'GET',
                  url: 'http://msg-proj-prod.awsplay.net/getMessages?' + $.param(this.getReqParams()),
                  success: (data) => {
                      this.setState({Messages: data.results});
                  },
                  error: (err) => {
                      alert(err);
                  }
              });
            }

            deleteRequestCall(index){
              $.ajax({
                  type: 'Delete',
                  url: 'http://msg-proj-prod.awsplay.net/deleteMessage?' + $.param(this.deleteReqParams(index)),
                  success: (data) => {
                      this.getRequestCall();
                  },
                  error: (err) => {
                      alert(err);
                  }
              });
            }

            getReqParams(){
                let params = {
                  Limit: 10
                };
                if(this.state.UserName !== ''){
                  params['UserName'] = this.state.UserName;
                }
                return params;
            }

            deleteReqParams(index){
                let message = this.state.Messages[index];
                return {
                  UserName: message.UserName,
                  TimeStamp: message.TimeStamp
                };
            }

            handleChange(event) {
              this.setState({UserName: event.target.value});
            }

            handleSubmit(event) {
              event.preventDefault();
              this.getRequestCall();
            }

            handleDelete(event){
              event.preventDefault();
              event.stopPropagation();
              this.deleteRequestCall(event.target.dataset.index);
            }

            render() {
              return (
                <div>
                  <h2> Messages </h2>
                  <form className="form-horizontal" onSubmit={this.handleSubmit}>
                    <br />
                    <div className="form-group">
                      <label className="col-sm-2 control-label">Enter a User Name:</label>
                      <div className="col-sm-8">
                        <input type="text" className="form-control" value={this.state.UserName} onChange={this.handleChange} />
                      </div>
                      <button type="submit" className="btn btn-primary">Get Messages</button>
                    </div>
                  </form>

                  <table className="table table-hover">
                    <thead>
                      <tr>
                        <th className="col-xs-9 col-sm-10">Message</th>
                        <th className="col-xs-3 col-sm-2">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {this.state.Messages.map((row,i) =>
                        <tr key={row.UserName + row.TimeStamp} >
                          <td>{row.MessageBody}</td>
                          <td>
                            <button type="button" data-index={i} className="btn btn-success" aria-label="Left Align">
                              <span data-index={i} className="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                            &nbsp;
                            <button type="button" data-index={i} onClick={this.handleDelete} className="btn btn-danger" aria-label="Left Align">
                              <span data-index={i} className="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                      )}
                    </tbody>
                  </table>
                </div>
              );
            }
        };

        ReactDOM.render(<PostMessageForm />, document.querySelector('#SetUserName'));
        ReactDOM.render(<GetMessages />, document.querySelector('#MessageList'));
    </script>

    <div id="SetUserName"></div>
    <br><br>
    <div id="MessageList"></div>
</body>
</html>
